.content-view {
  flex: 1;
  padding: 24px;

  overflow-y: auto;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

/* Responsive styles */
@media (max-width: 768px) {
  .content-view {
    padding: 16px;
  }
}
